{{! This file is picked from the v5.1.0 release of openapi-generator(https://github.com/OpenAPITools/openapi-generator/blob/v5.1.0/modules/openapi-generator/src/main/resources/python/requirements.mustache) }}
{{! Changes made: 1) Added requirements for fds.protobuf.stach and pandas. }}
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.25.3
fds.protobuf.stach.extensions < 2.0.0
pandas < 2.0.0
openpyxl >= 3.0.0
