name: Generate SDKs and raise PRs in individual language repositories

env:
  USER_API_KEY: ${{ secrets.USER_API_KEY }}
  USER_EMAIL: ${{ secrets.USER_EMAIL }}
  USER: ${{ secrets.USER }}
  OPENAPI_GENERATOR_VERSION: 5.1.0
  GITHUB_DOTNET_SDK_REPO: factset/analyticsapi-engines-dotnet-sdk
  GITHUB_PYTHON_SDK_REPO: factset/analyticsapi-engines-python-sdk
  GITHUB_JAVA_SDK_REPO: factset/analyticsapi-engines-java-sdk
  GITHUB_R_SDK_REPO: factset/analyticsapi-engines-r-sdk

on:
  pull_request:
    branches: [master]

jobs:
  dotnet:
    runs-on: ubuntu-latest

    steps:
      - name: Check out SDK repository
        if: env.GITHUB_DOTNET_SDK_REPO
        uses: actions/checkout@v2
        with:
          repository: ${{ env.GITHUB_DOTNET_SDK_REPO }}
          path: sdk
          fetch-depth: 0
          token: ${{ env.USER_API_KEY }}

      - name: Check out Generator repository
        if: env.GITHUB_DOTNET_SDK_REPO
        uses: actions/checkout@v2
        with:
          path: generator

      - name: Generate SDK
        if: env.GITHUB_DOTNET_SDK_REPO
        run: generator/.github/scripts/generate-sdk.sh $OPENAPI_GENERATOR_VERSION dotnet CustomCSharpNetCoreClientCodegen generator/openapi-schema-oneof-referenced-schema.json

      - name: Raise pull request on SDK repository
        if: env.GITHUB_DOTNET_SDK_REPO
        run: generator/.github/scripts/raise-pull-request.sh dotnet

  python:
    runs-on: ubuntu-latest

    steps:
      - name: Check out SDK repository
        if: env.GITHUB_PYTHON_SDK_REPO
        uses: actions/checkout@v2
        with:
          repository: ${{ env.GITHUB_PYTHON_SDK_REPO }}
          path: sdk
          fetch-depth: 0
          token: ${{ env.USER_API_KEY }}

      - name: Check out Generator repository
        if: env.GITHUB_PYTHON_SDK_REPO
        uses: actions/checkout@v2
        with:
          path: generator

      - name: Generate SDK
        if: env.GITHUB_PYTHON_SDK_REPO
        run: generator/.github/scripts/generate-sdk.sh $OPENAPI_GENERATOR_VERSION python CustomPythonClientCodegen generator/openapi-schema.json

      - name: Raise pull request on SDK repository
        if: env.GITHUB_PYTHON_SDK_REPO
        run: generator/.github/scripts/raise-pull-request.sh python

  java:
    runs-on: ubuntu-latest

    steps:
      - name: Check out SDK repository
        if: env.GITHUB_JAVA_SDK_REPO
        uses: actions/checkout@v2
        with:
          repository: ${{ env.GITHUB_JAVA_SDK_REPO }}
          path: sdk
          fetch-depth: 0
          token: ${{ env.USER_API_KEY }}

      - name: Check out Generator repository
        if: env.GITHUB_JAVA_SDK_REPO
        uses: actions/checkout@v2
        with:
          path: generator

      - name: Generate SDK
        if: env.GITHUB_JAVA_SDK_REPO
        run: generator/.github/scripts/generate-sdk.sh $OPENAPI_GENERATOR_VERSION java CustomJavaClientCodegen generator/openapi-schema-oneof-referenced-schema.json

      - name: Raise pull request on SDK repository
        if: env.GITHUB_JAVA_SDK_REPO
        run: generator/.github/scripts/raise-pull-request.sh java

  r:
    runs-on: ubuntu-latest

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest"

    steps:
      - name: Check out SDK repository
        if: env.GITHUB_R_SDK_REPO
        uses: actions/checkout@v2
        with:
          repository: ${{ env.GITHUB_R_SDK_REPO }}
          path: sdk
          fetch-depth: 0
          token: ${{ env.USER_API_KEY }}

      - name: Check out Generator repository
        if: env.GITHUB_R_SDK_REPO
        uses: actions/checkout@v2
        with:
          path: generator

      - name: Generate SDK
        if: env.GITHUB_R_SDK_REPO
        run: generator/.github/scripts/generate-sdk.sh $OPENAPI_GENERATOR_VERSION r CustomRClientCodegen generator/openapi-schema-oneof-referenced-schema.json

      - name: Set up R
        if: env.GITHUB_R_SDK_REPO
        uses: r-lib/actions/setup-r@v1
        with:
          r-version: "3.5.3"

      - name: Generate docs
        if: env.GITHUB_R_SDK_REPO
        run: |
          sudo apt-get install libcurl4-openssl-dev libssl-dev
          sudo apt-get install libprotoc-dev
          sudo Rscript -e "install.packages('jsonlite', repos = 'http://cran.us.r-project.org')"
          sudo Rscript -e "install.packages('httr', repos = 'http://cran.us.r-project.org')"
          sudo Rscript -e "install.packages('base64enc', repos = 'http://cran.us.r-project.org')"
          sudo Rscript -e "install.packages('factset.protobuf.stach', repos = 'http://cran.us.r-project.org')"
          sudo Rscript -e "install.packages('roxygen2', repos = 'http://cran.us.r-project.org')"
          sudo Rscript -e "roxygen2::roxygenize(roclets = c('rd', 'namespace'), package.dir = '${GITHUB_WORKSPACE}/generator/languages/r/sdk')"

      - name: Raise pull request on SDK repository
        if: env.GITHUB_R_SDK_REPO
        run: generator/.github/scripts/raise-pull-request.sh r
